@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btnsubmit {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btnsubmit:hover {
  border-color: #646cff;
}
.btnsubmit:focus,
.btnsubmit:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .btnsubmit {
    background-color: #f9f9f9;
  }
}
.todolist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  font-size: 17px;
  text-align: left;
}
.btns {
  border-radius: 5px;
  /* background-color: #121b2e; */
  border: 3px solid #3500c8;
}
.todolist .btnsubmit {
  height: 20px;
}
.btns button {
  /* background-color: rgb(40, 0, 150); */
  padding: 5px 8px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}
.btnMain{
  border-bottom: 3px solid #5416ff;
  margin-bottom: 10px;
}